/* 전체적인 css가 있었지만 지웠습니다. */




/* 상품 Detail 페이지 */
.loginWrap .login_inputWrap li .btn_green_l {display: block; position: absolute; width: 101px; height: 101px; top: 0; right: 0; line-height: 101px; padding: 0; font-size: 17px;}

.btn_green_l {
    color: #fff;
    background: #8ca15a;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: normal;
}

.detailPrdSize{
	width: 500px;
    height: 500px;
}

.prdCounter_wrap table td .counter{float: right;}

.detailView.move01 p img {width: 100% !important;}
