/* 해당 css가 있었으나 지웠습니다. */

.shop_li{
	clear: both;
    position: relative;
    padding-bottom: 12px;

}
.shop_dl{
	font-size: 14px;
    margin-top: 15px;
}

.shop_dt{
	display: inline-block;
    vertical-align: top;
    width: 150px;
    color: #858586;
    font-weight: bold;
}
.shop_dd{
	display: inline-block;
}
/* 예약 버튼*/
#dtime .timeBtn {/* width: 50% */}
#dtime .timeBtn button{
   background: #eeebeb;
    border: 1px solid #ddd;
    padding: 10px;
    margin-right: 5px;
    float: left;
}
.desginerName{
   display: inline-block;
   width: 40%;
   margin: 15px 0;
   float: left;
}
.destime{
   width: 60%;

}



/* 이미지 사이즈 */
img.MS_prod_img_m{
	width: 500px;
	height: 500px;
}
